<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Resultados</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--     <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" /> -->
<!--     <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script> -->
<!--     <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script> -->
</head>
<body>
<!-- <div th:replace="fragments/layout :: header"></div> -->

<div class="container">

    <h2>Results</h2>
    
    <table class="table table-hover">
		<thead>
			<tr id="headers" class="header-order">
				<th id="header-name">File name</th>
				<th id="header-repository">Repository</th>
				<th id="header-expand"></th>
			</tr>
		</thead>
	    <tbody>
			<tr th:each="file : ${filePage}" data-toggle="collapse">
				<td>
				  <a th:href="${file.getFile_url()}">
				    <div style="height:100%;width:100%" th:text="${file.getFile_name()}">filename</div>
				  </a>
				</td>
				<td th:text="${file.getRepository_url()}">repositoryurl</td>
				<td>
				 	<form id="fileReview" name="fileReviewForm" th:action="@{/fileReview}" method="POST">
						<div>
							<input type="hidden" name="foundFileId" id="foundFileId" th:value="${file.getId()}"/>
							<input type="hidden" name="searchedFile" id="searchedFile" th:value="${searchFile}"/>
							<button type="submit" class="box__button btn">Review!</button>
						</div>
					</form>
				</td>
			</tr>
	    </tbody>
	</table>

       	<!-- Pagination Bar -->
<!-- 		<div th:if="${not #lists.isEmpty(filePage)}"> -->
<!-- 			<div class="text-center"> -->
<!-- 				<nav aria-label="Page navigation"> -->
<!-- 					<ul class="pagination"> -->
<!-- 						<li -->
<!-- 							th:class="${not filePage.hasPrevious()}? 'disabled page-item' : 'page-item'"> -->
<!-- 							<span th:if='${not filePage.hasPrevious()}'>&laquo;</span> <a -->
<!-- 							class="page-link" th:if='${filePage.hasPrevious()}' -->
<!-- 							th:href="@{/polls(groupId=${param.groupId}, -->
<!-- 			        				page=(${filePage.getNumber()}-1))}" -->
<!-- 							title="Go to previous page">&laquo;</a> -->
<!-- 						</li> -->
<!-- 						<li th:each="i : ${#numbers.sequence(1, filePage.getTotalPages())}" -->
<!-- 							th:class="${i == (filePage.getNumber()+1)}? 'active page-item' : 'page-item'"> -->
<!-- 							<span th:if='${i == (filePage.getNumber()+1)}' th:text='${i}'>1</span> -->
<!-- 							<a class="page-link" -->
<!-- 							th:if='${not (i == (filePage.getNumber()+1))}' -->
<!-- 							th:href="@{/polls(groupId=${param.groupId}, -->
<!-- 			       				page=(${i}-1))}"> -->
<!-- 								<span th:text='${i}'>1</span> -->
<!-- 						</a> -->
<!-- 						</li> -->
<!-- 						<li -->
<!-- 							th:class="${filePage.hasNext()}? 'page-item' : 'disabled page-item'"> -->
<!-- 							<span th:if='${not filePage.hasNext()}'>&raquo;</span> <a -->
<!-- 							class="page-link" th:if='${filePage.hasNext()}' -->
<!-- 							th:href="@{/polls(groupId=${param.groupId}, -->
<!-- 			        				page=(${filePage.getNumber()}+1))}" -->
<!-- 							title='Go to next page'>&raquo;</a> -->
<!-- 						</li> -->
<!-- 					</ul> -->
<!-- 				</nav> -->
<!-- 			</div> -->
<!-- 		</div> -->
    
<!--     <div th:replace="fragments/layout :: footer"></div> -->
</div>
</body>
</html>